body {
    margin: 0;
}

table {
    font-family: 'Poppins';
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid darkcyan;
    padding: 8px;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: lightcyan;
}